.search-box{
    background-color: #E5E5E5 !important; }

input::placeholder {
    padding-left: 20px;
  }

  .form-group{
      margin-bottom: .5rem;
  }

  .form-control {
      margin-bottom: 0;
  }

  .icon-style{
      color: black;
  }